<template>
<div class="row">
    <div class="form-wrapper">
     <div class="row">
        
      <div class="col-md-1">
      </div>
  <div class="col-md-3 col-md-offset-4">
        <form class="form animated fadeInLeft">
            <h4><b>UPDATE SCHOOL</b></h4>
            <div class="form-ctrl"><input type="text" placeholder="Name of School" v-model="school.scname"></div>
            <div class="form-ctrl"><input type="text" placeholder="Address" v-model="school.scaddress"></div>
            <div class="form-ctrl">
                <label class="pull-left">Select a State:</label>
                <select v-model="school.scstate">
                    <option v-for="state in states">{{state.value}}</option>
                </select>
            </div>
            <div class="form-ctrl">
            <textarea cols="30" rows="10" v-model="school.scdesc" placeholder="School Description"></textarea>
            </div>
            <button @click.prevent="putFn" class="add-btn">Update School</button>
           <!-- <p>name of person: {{proplist.fname}}</p>
            <p>address of person: {{proplist.addr}}</p>-->
        </form>
      
        </div>
        </div>
        </div>
        
    </div>
</template>
<script>
export default {
    props: {
        proplist:{
            fname:'',
            addr:''
            }
        },
    data () {
        return {
       id: this.$route.params.id,
        school:{},
        states : [{value:'Abia'},{value:'Adamawa'},{value:'Akwa-Ibom'},{value:'Anambra'},{value:'Bayelsa'},{value:'Enugu'},{value:'Lagos'},{value:'Port-Harcourt'},{value:'Abuja'},{value:'Kaduna'}]
       
        }
    },
    methods: {
    putFn(){
    
        this.$http.put('https://nigerianschooldirectory.firebaseio.com/posts/'+ this.id + '.json', this.school)
        .then(function(data){
            this.$router.push({path:'/'});
        });
    
    }
     
    },
     created(){
        
        this.$http.get('https://nigerianschooldirectory.firebaseio.com/posts/' + this.id + '.json')
        .then(function(data){

           return data.json();
           
           }).then(function(data){

            this.school = data;

           });
           
            }
}
</script>
<style scoped>

    .schools{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px 0 0;
    }
    .school{
          box-shadow: 1px 2px 20px rgba(0,0,0,.1) !important;
        border-radius: 3px;
        padding: 10px;
        flex-basis: 300px;
        margin: 0 0 50px;
        /* flex-grow: 1; */
    }

    h1{
        font-size: 1.7em;
        text-align: center;
        width: 100%;
    }
    h2.caption{
        text-align: center;
        font-size:28px;
    }
    select{

        cursor:pointer !important;
    }
    .form{
        min-width: 100%;
        background:#fff;
        padding: 10px 15px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
       
        border-radius:2px;
    }
    .form-ctrl{
        margin-bottom: 10px
    }
    input,select,textarea,.add-btn{
        width: 100%;
        box-sizing: border-box;
    }
    input,select{
        padding: 10px;
    }
    textarea{resize: none}
    .add-btn{
        background: rgb(42, 182, 84);
        color: #ffffff;
        padding: 10px;
        border: none;
        border-radius: 2px;
    }
    .form-wrapper{
       padding:30px;
               background:linear-gradient(rgba(41,159,20,0.8),rgba(41,159,20,0.8)),url('../assets/bg.jpg') !important;
margin-top:80px;
    }
    .bold-font{
        font-family: 'Roboto', sans-serif;
        color:#fff;
        font-weight:900;
        font-size:4em;
        margin-top:60px;
        text-align:left;
    }
    .caption-detail{

        color: #fff !important;
        text-align: left;
        font-size:20px;
    }
    .view-more{

       min-width:100%;
    }
    .view-more{

        background:#299F14;
        border: 1px solid #299F14;
        color:#fff !important;
        padding: 5px !important; 
    }
</style>

