<template>
    <footer>
        &copy; 2018. Baylvin Web Solutions.
    </footer>
</template>
<script>
export default {
    data () {
    return {

    }
  }
}
</script>
<style scoped>
footer{
    text-align: center;
    padding: 25px 0;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(7, 22, 11)
}
</style>

