<template>
    <div class="top">
    <div class="row">
        
        <div class="col-md-5 col-md-offset-1">
        <img src="../assets/bag.png" height="50">
        <span>Nigerian Schools Directory</span>
        </div>
         <div class="col-md-5">
        <ul class="ul-list">
        <li><router-link to="/" exact>Home</router-link></li>
        <li><router-link to="/About" exact>About</router-link></li>
        <li><router-link to="/Contact" exact>Contact</router-link></li>
    
        <li><input type="text" placeholder="search schools"></li>
    
        </ul>
        </div>
        </div>
       
    </div>
</template>
<script>
export default {
    data () {
    return {

    }
  }
}
</script>
<style scoped>
.top{
    padding: 1px;
    background: #fff;
    box-shadow: 0px -1px 10px rgba(0,0,0,.6) !important;
    padding:15px 15px;
    position:fixed;
    min-width:100%;
    z-index:200;
}
span{
    float: left;
    color: #222;
    font-size: 2em;
    margin-top: 10px;
}
img{

    float:left;
}
.ul-list {
    margin:0px;
    padding:0px;
    float:right;
}
input{
    width:160px;
    padding-left:10px;
}
::placeholder{

    opacity:0.7;
}
.ul-list li:nth-child(1){

    display:inline-block;
    list-style-type:none;
    float:left;
    padding-top:15px;
    font-size:18px;
    color:#222;
    text-transform:uppercase;
    padding-right:35px;
}
.ul-list li:nth-child(2){

    display:inline-block;
    list-style-type:none;
    float:left;
    padding-top:15px;
    font-size:18px;
    color:#222;
    text-transform:uppercase;
    padding-right:35px;
}
.ul-list li:nth-child(3){

    display:inline-block;
    list-style-type:none;
    float:left;
    padding-top:15px;
    font-size:18px;
    color:#222;
    text-transform:uppercase;
    padding-right:35px;
}
.ul-list li:nth-child(4){

    display:inline-block;
    list-style-type:none;
    float:left;
    padding-top:15px;
    font-size:18px;
    color:#222;
    text-transform:uppercase;
  
}
.router-link-active{

    color: #fff;
}
a{
    color:#222;
}
</style>

