<template>
    <div>
    
        <div class="wrapper">
        
        <school-form :proplist="profile"></school-form>
       </div>
       <Footer></Footer>
      
    </div>
</template>
<script>
import Schoolform from './Schoolform.vue'
import Header from './Header.vue'
export default {
    components:{
        'Header': Header,
    'school-form': Schoolform
    },
    data () {
    return {
        profile: {
            fname: 'Name from prop',
            addr: 'Address from prop'
        }
    }
  },
    methods:{
        
    }
}
</script>
<style>
body{

    overflow-x:hidden;
}

</style>

