<template>
<div class="row">
        <!-- <pre>{{newSchool}}</pre> -->
      
        <div class="container">
        <div class="col-md-12">
        <div class="detail animated fadeIn">
             <td> <h3><b>{{school.scname}} Detail</b></h3></td>
            <table class="table">
  <thead class="black">
    <tr>
     
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">State</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    
      <td> <h5><b>{{school.scname}}</b></h5></td>
      <td>   <p>{{school.scaddress}}</p></td>
      <td> <p>{{school.scstate}}</p></td>
      <td>
        <p>{{school.scdesc}}</p></td>
    </tr>
    
   
  </tbody>
</table>
   <router-link :to="'/edit/' + id"> <button class="edit-btn">Edit School</button></router-link>
                   <button class="del-btn"  data-toggle="modal" data-target="#myModal">Delete</button>
                      </div>
            </div>
        </div>
       
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are you sure want to delete this School</h4>
      </div>
      <div class="modal-body">
      <div class="col-md-4 col-md-offset-8">
      <button type="button" class="edit-btn" data-dismiss="modal">NO</button>
         <button @click.prevent="deletesch" class="del-btn" data-dismiss="modal">YES</button>
         </div>
                  
      </div>
     
    </div>

  </div>
</div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            id: this.$route.params.id,
            school:{}
         
        }
    },
methods:{

 deletesch(){
    
        this.$http.delete('https://nigerianschooldirectory.firebaseio.com/posts/'+ this.id + '.json')
        .then(function(data){
            this.$router.push({path:'/'});
        });
    
    }
},
    created(){
        
        this.$http.get('https://nigerianschooldirectory.firebaseio.com/posts/' + this.id + '.json')
        .then(function(data){
           return data.json();
           
           }).then(function(data){

        this.school = data;
           });
           
            }
        
    }
    
</script>
<style scoped>
body{

    overflow-x:hidden;
}
.modal-body{

    background:#2B2B2B !important;
   overflow:auto;
}
.detail{

    margin-top:140px !important;
    animation-delay: 1s;
}
.edit-btn{

    background:#90C258;
    border: 1px solid #90C258;
    padding:10px;
    border-radius: 4px;
    margin-right:30px !important;
}

.edit-btn:hover{
    color: #fff;
    transform:translateY(-2px);
}
.del-btn{

    background:#D54830;
    border: 1px solid #D54830;
    border-radius: 4px;
    padding:10px;
    color:#fff;
   
}
.del-btn:hover{
    color: #fff;
    transform:translateY(-2px);
}
</style>

