<template>
<div class="row">
    <div class="form-wrapper">
     <div class="row">
        
        <div class="col-md-5 col-md-offset-1">
        <h1 class="bold-font">GET YOUR SCHOOL ON THE LIST</h1>       
       <p class="caption-detail">We are the store room for schools in Nigeria,
       find, search for schools in your state, get contact of schools you wish to send your ward to.</p>   
       <button class="abt-btn">About Us</button>
       <button class="con-btn">Contact Us</button>
        </div>

  <div class="col-md-5">
        <form class="form animated fadeInLeft">
            <h1>REGISTRATION FORM</h1>
            <div class="form-ctrl"><input type="text" placeholder="Name of School" v-model="newSchool.scname"></div>
            <div class="form-ctrl"><input type="text" placeholder="Address" v-model="newSchool.scaddress"></div>
            <div class="form-ctrl">
                <label class="pull-left">Select a State:</label>
                <select v-model="newSchool.scstate">
                    <option v-for="state in states">{{state.value}}</option>
                </select>
            </div>
            <div class="form-ctrl">
            <textarea cols="30" rows="10" v-model="newSchool.scdesc" placeholder="School Description"></textarea>
            </div>
            <button @click.prevent="post(newSchool)" class="add-btn">Add School</button>
           <!-- <p>name of person: {{proplist.fname}}</p>
            <p>address of person: {{proplist.addr}}</p>-->
        </form>
      
        </div>
        </div>
        </div>
        <!-- <pre>{{newSchool}}</pre> -->
        <div class="row">
        <div class="container">
        <div class="col-md-12">
        <div v-show="schools.length != 0">
            <h2 class="caption">List of Registered Schools in Nigeria</h2>
            <div class="schools">
                <div class="school" v-for="school in schools">
                    <img src="../assets/avatar.png" alt="avatar">
                    <hr>
                    <h5><b>Name: {{school.scname}}</b></h5>
                    <p>Address: {{school.scaddress}}</p>
                    <p>State: {{school.scstate}}</p>
                    <p>Description: {{school.scdesc}}</p>
                   <router-link :to="'/school/' + school.id"><button class="view-more">View More</button></router-link>
                  
                    <!--
                    <p>Date: {{postdate}}</p>
                    <p>Time: {{postime}}</p>-->
                </div>
            </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        proplist:{
            fname:'',
            addr:''
            }
        },
    data () {
        return {
        states : [{value:'Abia'},{value:'Adamawa'},{value:'Akwa-Ibom'},{value:'Anambra'},{value:'Bayelsa'},{value:'Enugu'},{value:'Lagos'},{value:'Port-Harcourt'},{value:'Abuja'},{value:'Kaduna'}],
        newSchool:{scstate: 'Abia'},
        schools:[],
        id:''
        }
    },
    methods: {
    post: function(newSchool){
        this.$http.post('https://nigerianschooldirectory.firebaseio.com/posts',this.newSchool)
        .then(function(data){
            console.log(data);
        });
        // this.newSchool.scimg = 'avatar.png';
        this.schools.unshift(newSchool);
        this.newSchool = {scstate: 'Abia'};
    
    }
    },
    created(){
        this.$http.get('https://nigerianschooldirectory.firebaseio.com/posts.json')
        .then(function(data){
            return data.json()
        }).then(function(data){
        
                var blogarray = [];
            for(let key in data){
                data[key].id = key;
                blogarray.push(data[key]);
            }
            this.schools = blogarray;
          
        });
    }
}
</script>
<style scoped>

    .schools{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px 0 0;
    }
    .school{
          box-shadow: 1px 2px 20px rgba(0,0,0,.1) !important;
        border-radius: 3px;
        padding: 10px;
        flex-basis: 300px;
        margin: 0 0 50px;
        /* flex-grow: 1; */
    }

    h1{
        font-size: 1.7em;
        text-align: center;
        width: 100%;
    }
    h2.caption{
        text-align: center;
        font-size:28px;
    }
    select{

        cursor:pointer !important;
    }
    .form{
        width: 350px;
        background:#fff;
        padding: 10px 15px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        float:right;
        border-radius:2px;
    }
    .form-ctrl{
        margin-bottom: 10px
    }
    input,select,textarea,.add-btn{
        width: 100%;
        box-sizing: border-box;
    }
    input,select{
        padding: 10px;
    }
    textarea{resize: none}
    .add-btn{
        background: rgb(42, 182, 84);
        color: #ffffff;
        padding: 10px;
        border: none;
        border-radius: 2px;
    }
    .form-wrapper{
       padding:30px;
               background:linear-gradient(rgba(41,159,20,0.8),rgba(41,159,20,0.8)),url('../assets/bg.jpg') !important;
margin-top:80px;
    }
    .bold-font{
        font-family: 'Roboto', sans-serif;
        color:#fff;
        font-weight:900;
        font-size:4em;
        margin-top:60px;
        text-align:left;
    }
    .caption-detail{

        color: #fff !important;
        text-align: left;
        font-size:20px;
    }
    .view-more{

       min-width:100%;
    }
    .view-more{

        background:#299F14;
        border: 1px solid #299F14;
        color:#fff !important;
        padding: 5px !important; 
    }
    .con-btn{

        color:#fff;
        background:transparent;
        height: 45px;
        margin-top:40px;
        padding:10px;
        width:150px;
        border: 1px solid #fff;
    }
    .abt-btn{

        color:#53A625;
        background:#fff;
        height: 45px;
        margin-top:40px;
        padding:10px;
        width:150px;
        margin-right:30px;
        border: 1px solid #fff;
    }
</style>

