<template>
  <div>
  <Header></header>
    <router-view>
    </router-view>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Home from './components/Home.vue'
import Navbar from './components/Navbar.vue'
import Schooldetail from './components/Schooldetail.vue'
import Footer from './components/Footer.vue'
import Edit from './components/Edit.vue'
export default {
  components:{
    'Header': Header,
    'Home': Home,
    'Navbar': Navbar,
    'Footer': Footer,
    'Schooldetail': Schooldetail,
    'Edit': Edit

  },
  data () {
    return {
      
    }
  },
  methods:{
    scrollPage(){
 if (document.body.scrollTop > 50 ) {
        document.getElementById("myP").className = "test";
    } else {
        document.getElementById("myP").className = "";
    }
    }
  },
created() {
  
}
}

</script>

<style>

body{
  padding: 0px !important;
  margin: 0px !important;
  overflow-x:hidden;
}

.router-link{
  text-decoration:none;
  color: #222 !important;
}
a:focus{

  text-decoration: none;
}
a{

  color:#fff;
}
a:hover{

  text-decoration:none;
}
.router-link-active{

  background:#299F14;
  color: #fff;
  padding:10px;
  text-decoration:none;
}

</style>
